:root {
  --main-font-font-family: "Libre Franklin", Helvetica;
  --main-font-font-size: 12px;
  --main-font-font-style: normal;
  --main-font-font-weight: 400;
  --main-font-letter-spacing: 0px;
  --main-font-line-height: normal;
}
