.prescriber-account {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.prescriber-account .overlap-wrapper {
  background-color: #ffffff;
  height: 1024px;
  width: 1440px;
}

.prescriber-account .overlap {
  height: 963px;
  position: relative;
}

.prescriber-account .header-model {
  background-color: #f8f8f8;
  height: 170px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.prescriber-account .overlap-group {
  background-color: #ffffff;
  height: 135px;
  position: relative;
  top: 35px;
}

.prescriber-account .image {
  height: 106px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 158px;
}

.prescriber-account .about {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 640px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 57px;
  white-space: nowrap;
}

.prescriber-account .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 735px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 57px;
  white-space: nowrap;
}

.prescriber-account .div {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 916px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 57px;
  white-space: nowrap;
}

.prescriber-account .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 1099px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 57px;
  white-space: nowrap;
  border-bottom: 2px solid #000000;
}

.prescriber-account .div-wrapper {
  border: 2px solid;
  border-color: #000000;
  border-radius: 5px;
  height: 47px;
  left: 1241px;
  position: absolute;
  top: 44px;
  width: 140px;
}

.prescriber-account .text-wrapper-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.prescriber-account .line {
  height: 30px;
  left: 1180px;
  position: absolute;
  top: 50px;
  width: 2px;
}

.prescriber-account .details-sign-out-wrapper {
  background-color: #d9d9d9;
  height: 42px;
  left: 1088px;
  position: absolute;
  top: 76px;
  width: 85px;
}

.prescriber-account .details-sign-out {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 69px;
}

.prescriber-account .rectangle {
  background-color: #77996c;
  height: 60px;
  left: 0;
  position: absolute;
  top: 155px;
  width: 1440px;
}

.prescriber-account .content {
  height: 800px;
  left: 0;
  position: absolute;
  top: 163px;
  width: 1440px;
}

.prescriber-account .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 76px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.prescriber-account .group {
  background-color: #d9d9d9;
  height: 60px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 1440px;
}

.prescriber-account .group-2 {
  height: 13px;
  left: 58px;
  position: relative;
  top: 9px;
  width: 201px;
}

.prescriber-account .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 199px;
}

.prescriber-account .name-last-name-wrapper {
  background-color: #d9d9d9;
  height: 424px;
  left: 58px;
  position: absolute;
  top: 152px;
  width: 377px;
}

.prescriber-account .name-last-name {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 338px;
}

.prescriber-account .overlap-group-wrapper {
  height: 48px;
  left: 58px;
  position: absolute;
  top: 667px;
  width: 179px;
}

.prescriber-account .asdf-wrapper {
  background-color: #5c6428;
  border-radius: 6px;
  height: 48px;
  position: relative;
  width: 177px;
}

.prescriber-account .asdf {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 700;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 138px;
}
